<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthrax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sym.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'as,bn,gu,hi,kn,ml,mr,or,pa,ta,te,ur,en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="google_translate_element" style="text-align: right; margin: 20px;"></div>
</head>
<body>
    <div class="container">
        <h1>Anthrax</h1>

        <h2>Symptoms</h2>
        <ul>
            <li>Sudden death</li>
            <li>High fever</li>
            <li>Blood-stained discharges</li>
            <li>Rapidly decaying carcass</li>
            <li>Shivering or twitching</li>
            <li>Harsh dry cough</li>
            <li>Blood in dung or in nostrils</li>
            <li>Decrease or complete loss of milk</li>
            <li>Fits</li>
            <li>Bright staring eyes</li>
            <li>Colicky pains</li>
            <li>Dejection and loss of appetite</li>
        </ul>

        <h2>Cure</h2>
        <ul>
            <li><h1>Anthrax</h1>
                <h2>Preventive Measures</h2>
                <ul>
                    <li>Vaccination by Anthrax Spore Vaccine at 8 months followed by yearly dose</li>
                    <li>Isolation of sick animal and disinfection of shed</li>
                    <li>Carcass to be buried at 6’ depth with lime</li>
                    <li>Human may be affected (called wool sorter disease). So serious measures to be taken</li>
                </ul>
                <h2>Chemical Measures</h2>
                <ul>
                    <li>Penicillin and oxytetracycline are the most effective antibiotics for treating anthrax</li>
                </ul>
                <h2>Biological Measures</h2>
                <ul>
                    <li>Antitoxin therapies can be provided to nullify the toxins produced by the infection</li>
                </ul>
                <h2>Indigenous Method</h2>
                <ul>
                    <li>NA</li>
                </ul></li>
        </ul>

        <p><a href="/disease">Back to Symptoms List</a></p>
    </div>
</body>
</html>
