<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foot and Mouth Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sym.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'as,bn,gu,hi,kn,ml,mr,or,pa,ta,te,ur,en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="google_translate_element" style="text-align: right; margin: 20px;"></div>
</head>
<body>
    <div class="container">
        <h1>Foot and Mouth Disease</h1>
        
        <h2>Symptoms</h2>
        <ul>
            <li>Slobbering and smacking lips.</li>
            <li>Shivering.</li>
            <li>Tender and sore feet.</li>
            <li>Reduced milk yield.</li>
            <li>Sores and blisters on feet</li>
            <li>Raised temperature</li>
        </ul>

        <h2>Cure</h2>
        <ul>
            <li> <h1>FMD (Foot-and-Mouth Disease)</h1>
                <h2>Preventive Measures</h2>
                <ul>
                    <li>Isolation of sick animals</li>
                    <li>Sick animals should be attended by other persons</li>
                    <li>Cleaning and disinfection of shed</li>
                    <li>Proper disposal of dead animals</li>
                    <li>Maintaining vaccination schedule with FMD vaccine at 1.5 month, 4.5 month then 6 month interval</li>
                </ul>
                <h2>Chemical Measures</h2>
                <ul>
                    <li>Wash with KMnO4, apply boric powder on wound</li>
                    <li>Antibiotic and Fluid therapy may be provided</li>
                </ul>
                <h2>Biological Measures</h2>
                <ul>
                    <li>Fly repellent or Fly killer may be used inside or outside the cattle shed</li>
                </ul>
                <h2>Indigenous Method</h2>
                <ul>
                    <li>It is suggested to apply borax with honey</li>
                </ul></li>
        </ul>

        <p><a href="/disease">Back to Symptoms List</a></p>
    </div>
</body>
</html>
