<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemorrhagic Septicemia (HS)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sym.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'as,bn,gu,hi,kn,ml,mr,or,pa,ta,te,ur,en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="google_translate_element" style="text-align: right; margin: 20px;"></div>
</head>
<body>
    <div class="container">
        <h1>Hemorrhagic Septicemia (HS)</h1>

        <h2>Symptoms</h2>
        <ul>
            <li>Fever</li>
            <li>Dullness</li>
            <li>Reluctance to move</li>
            <li>Salivation</li>
            <li>Serous nasal discharge</li>
            <li>Oedematous swellings in the pharyngeal region</li>
            <li>Respiratory distress</li>
            <li>Sudden death or a protracted course up to 5 days</li>
        </ul>

        <h2>Cure</h2>
        <ul>
            <li><h1>HS (Hemorrhagic Septicemia)</h1>
                <h2>Preventive Measures</h2>
                <ul>
                    <li>Regular vaccination programme with HS vaccine at 6 months then yearly</li>
                    <li>Sick animals treated properly</li>
                    <li>Disinfection of shed</li>
                    <li>Disposal of waste</li>
                    <li>Proper disposal of carcass</li>
                </ul>
                <h2>Chemical Measures</h2>
                <ul>
                    <li>Oxytetracycline</li>
                    <li>Trimethoprim/sulfamethoxazole</li>
                    <li>A combination of penicillin and streptomycin</li>
                </ul>
                <h2>Biological Measures</h2>
                <ul>
                    <li>Hot fomentation with salt pack may be given</li>
                    <li>Antitoxins may be used to treat affected animals</li>
                </ul>
                <h2>Indigenous Method</h2>
                <ul>
                    <li>NA</li>
                </ul></li>
        </ul>

        <p><a href="/disease">Back to Symptoms List</a></p>
    </div>
</body>
</html>
