<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milk Fever (Goat)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sym.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'as,bn,gu,hi,kn,ml,mr,or,pa,ta,te,ur,en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="google_translate_element" style="text-align: right; margin: 20px;"></div>
    
</head>
<body>
    <div class="container">
        <h1>Milk Fever (Goat)</h1>

        <h2>Symptoms</h2>
        <ul>
            <li>Lethargy</li>
            <li>Poor appetite</li>
            <li>Poor milk production</li>
            <li>Coma </li>
            <li>Agitation</li>
            <li>Muscle tremors </li>
            <li>Inability to rise</li>
            
        </ul>

        <h2>Cure</h2>
        <ul>
            <li><h1>Milk Fever - Cures</h1>
                <h2>Preventive Measures</h2>
                <ul>
                    <li>Limit calcium intake</li>
                    <li>Feed low potassium diets</li>
                    <li>Use anionic salts</li>
                    <li>Provide calcium supplements: Within a few hours after calving, provide cows with an oral calcium supplement, such as a bolus or paste.</li>
                    <li>Monitor urine pH: The target urine pH is between 5.5 and 6.0.</li>
                    <li>Supplement with magnesium: Supplement magnesium at the rate of 15 to 20 grams per day along with a source of easily digestible carbohydrate.</li>
                    <li>Shorten the dry period</li>
                    <li>Prepartum milking</li>
                    <li>Reduce milking in early lactation</li>
                </ul>
            
                <h2>Chemical Measures</h2>
                <ul>
                    <li>Milk fever cases should be treated with 500 milliliters of 23 percent calcium gluconate IV and followed by the administration of two oral calcium boluses given 12 hours apart.</li>
                </ul>
            
                <h2>Biological Measures</h2>
                <ul>
                    <li>NA</li>
                </ul>
            
                <h2>Indigenous Methods</h2>
                <ul>
                    <li>Provision of germinated gram and green fodder</li>
                </ul></li>
        </ul>

        <p><a href="/disease">Back to Symptoms List</a></p>
    </div>
</body>
</html>
